body{
  margin:0;
  padding:0;
}

.wrapper{
  position:absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #FDC5F5 0%, #F7AEF8 25%, #B388EB 50%, #8093F1 75%, #72DDF7 100%);
}

.wrapper2{
  position:absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient( 180deg,#72DDF7 0%,#8093F1 25%,#B388EB 50%,#F7AEF8 75%,#FDC5F5 100%);
}

navbar{
  position:fixed;
}

.card1{
  margin-top: 190px;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #FDC5F5;
}
input:focus {
  border-color: #8093F1;
}


.main_heading{
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:45%;
  left:50%;
  font-size: 55px;
  font-weight:lighter;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
  
}

.new_heading{
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:45%;
  left:50%;
  font-size: 25px;
  font-weight:bold;
  transform: translate(-50%, -50%);
  color: purple;
  margin: 0;
}

.top_heading{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  position:absolute;
  top:20%;
  left: 24%;
  font-weight:bold;
  color: purple;
}

.sub_heading{
  font-family: 'Poppins', sans-serif;
  position:absolute;
  top:65%;
  left:18%;
  font-size: 21px;
  font-weight:lighter;

  color: white;
  margin: 0;
  
}

.get_started{
  position: absolute;;
  margin-top:35%;
  margin-left:43%;
}

.box div{
  position:absolute;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border:3px solid rgba(255,255,255, 0.8);
}

.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation:animate linear 10s infinite;
}
.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation:animate linear 7s infinite;
}
.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation:animate linear 9s infinite;
}
.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation:animate linear 10s infinite;
}
.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation:animate linear 6s infinite;
}
.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation:animate linear 12s infinite;
}
.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation:animate linear 15s infinite;
}
.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation:animate linear 16s infinite;
}
.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation:animate linear 9s infinite;
}
.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation:animate linear 5s  infinite;
}

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

img{
  max-width:180px;
}

.card_inner{
  border:none;
}

.boxnew{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.boxnew span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animatenew 2s infinite;
}

.boxnew span:nth-child(2)
{
	animation-delay: -0.2s;
}

.boxnew span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animatenew{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

.table-editable {
  position: relative;
}

.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}

.table-remove:hover {
  color: #f00;
}

.table-up,
.table-down {
  color: #007;
  cursor: pointer;
}

.table-up:hover,
.table-down:hover {
  color: #00f;
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}

.table-add:hover {
  color: #0b0;
}
